<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
  <html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href=style.css>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162316597-1"></script>
  <script src="analytics.js"></script>

  <!-- API requests -->
  <script src="main.js"></script>

  <title>AnonStory</title>

  </head>
  <body class="text-center" data-gr-c-s-loaded="true">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead"> <!-- keeps everything in the bottom-->
      <div class="inner">
        <a href=""><img src=/media/raccoon.png class="masthead-brand" height="50px" width="80px"></a>
        <div id="nav">
          <nav class="nav nav-masthead justify-content-center">
            <a id="home" class="nav-link active" href="javascript:setHomeActive()">Home</a>
            <a id="private" class="nav-link"" href="javascript:setPrivateActive()">Private Acc</a>
            <a class="nav-link" target="_blank" href="https://teleg.run/ge6rgii">Contact</a>
          </nav>
        </div>
    </div>
  </header>
  <main role="main" class="inner cover">
    <h3 class="cover-heading">Check Instagram stories anonymously</h3>
    <p class="lead">Without leaving any trace.</p>
    <p class="lead"></p>
  
  <!-- input for public accs -->
  <div id="formHome">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">@</span>
    </div>
    <input class="form-control" id="username" type="text" name="username" placeholder="Username">
  </div>
  <p></p>
  <button class="btn btn-md btn-primary btn-block" onclick="getStoriesPublic(document.getElementById('username').value)" type="submit">Check</button>
  </div>
  <!-- input for private accs-->

  <div id="formPrivate" style="display: none">
    <div>
      <input class="form-control" type="text" id="sessionid" placeholder="SessionID Cookie">
    </div>
    <div>
      <input class="form-control" type="text" id="usernamePrivate" placeholder="Username">
    </div>
    <font color="#C0C0C0" size="1.5px">*Use account's session id, which is subscribed on this user</font>
    <p></p>
    <button class="btn btn-md btn-primary btn-block" onclick="getStoriesPrivate(document.getElementById('usernamePrivate').value, document.getElementById('sessionid').value)" type="submit">Check</button>
  </div>
  <p></p>

  <div id="posts"></div>

  </main>
  <hr class="featurette-divider">

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Telegram <a href="">@</a><a target="_blank" href="https://teleg.run/ge6rgii">ge6rgii</a></p>
    </div>
  </footer>
  </div>

  </body>
</html>
